.error-message {
    color: red;
    margin-top: 5px;
}

.position-relative {
    position: relative;
}

.field-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}

.form-control-password {
    padding-right: 30px; /* ajuste o valor conforme necessário para acomodar o ícone */
}